@using Nancy.Markdown.Blog
@{
  Layout = "master.cshtml";
  ViewBag.Title = "Desk Drive";
}

@Html.Markdown(@"
## Desk Drive™

Automatic drive/media shortcuts for your desktop

_December 9, 2013 - [Version 2.1 Released](/blog/post/00888/desk-drive-2-1)_

Desk Drive™ solves a really annoying problem.
You pop a USB thumb drive or DVD into your computer and then you have to open Window's Explorer and find the mapped drive or folder.
Desk Drive adds a desktop icon pointing to the drive automatically.
Remove the media and the shortcut goes away. Brilliantly simple and effective.

![Desk Drive screenshot](/cdn/images/deskdrive/deskdrive.png)

Desk Drive sits quietly in the system tray.
Configuration (image at right) is just a click away and allows you to specify which types of media to monitor.
So simple, it just works. Download it today!

***
The Desk Drive installer includes offers to install other programs which requires online access.
Some of you have asked for an offline installer for use in corporate environments.
You can now purchase one at <https://sites.fastspring.com/mikeward/instant/deskdrive>.
***

[http://www.spellchecker.net/grammar/](http://www.spellchecker.net/grammar/) - Spellchecker.net provides grammar and spell checking service, it's totally free and easy to use.

Help me localize Desk Drive!
The distribution contains a file named DeskDrive.exe.xml that contains localized strings and instructions. 
Add your language to the file, send it to me, and I'll include it in the next release. Thanks!

#### Languages

- English
- French
- Italian
- German
- Spanish
- Galician
- Chinese
- Traditional Chinese
- Japanese
- Portugese (Brazilian)
- Finnish
- Slovenian
- Arabic (Syrian)
- Croatian
- Dutch (Belgium)
- Dutch (Netherlands)
- Russian
- Polish
- Hungarian
- Korean

[Download Desk Drive](/downloads)
", (string)ViewBag.BaseCdnUri)

<button onclick="load_disqus('deskdrive', 'Desk Drive');" class="pure-button">Comments</button>
<div id="disqus_thread"></div>
