@using Nancy.Markdown.Blog
@{
  Layout = "master.cshtml";
  ViewBag.Title = "Thanks for downloading";
}
<h2>Thanks for Downloading! (it should start shortly)</h2>
<p><a href="downloads">Back to downloads</a></p>
<div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- bo.bottom.downloads -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-1981154560626519"
       data-ad-slot="6577379811"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<hr />
@Html.Markdown(@"
### ![rss](http://az667460.vo.msecnd.net/cdn/images/rss-icon.png) Keep up to date

- [RSS Feed](http://feedproxy.google.com/MikeWardTechnologyBlog)
- [Email Feed](http://feedburner.google.com/fb/a/mailverify?uri=MikeWardTechnologyBlog&amp;loc=en_US)
")

<script>
  setTimeout(function () { window.location = "/cdn/downloads/@ViewBag.File"; }, 5000);
</script>

@section sidebar {
<div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- bo.sidebar -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:160px;height:600px"
       data-ad-client="ca-pub-1981154560626519"
       data-ad-slot="1431724652"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
}