<!DOCTYPE html>
<html>
  <head>
    <title>Mike-Ward.Net: @ViewBag.Title</title>
    <link rel="shortcut icon" href="/content/images/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feedproxy.google.com/MikeWardTechnologyBlog">
    <link rel="alternate" type="application/rdf+xml" title="RSS" href="http://feedproxy.google.com/MikeWardTechnologyBlog">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="description" content="Free programs and gadgets for Windows. Weekly links with a focus on Programming, Science and Technology. Tips on programming in .NET and JavaScript.">
    <link href="~/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="content">
      <h1 class="site-title">Mike-Ward.Net</h1>
      <div id="topbar">
        <a href="/blog">Home</a>
        <a href="/deskdrive">Desk Drive</a>
        <a href="/tweetz">Tweetz</a>
        <a href="/simplyweather">Simply Weather</a>
        <a href="/vscoloroutput">VSColorOutput</a>
        <a href="/freesnap">FreeSnap</a>
        <a href="/calendar">Calendar</a>
        <a href="/gadgets">Gadgets</a>
        <a href="/downloads">Downloads</a>
        <a href="/about">About</a>
      </div>
      <div class="left">
        @RenderBody()
      </div>
      <div class="right">
        <div class="syndication-icons">
          <a href="http://feedproxy.google.com/MikeWardTechnologyBlog" title="RSS Feed" onclick="javascript:_gaq.push(['_trackEvent','social-link','http://feedproxy.google.com/MikeWardTechnologyBlog']);"><img src="~/content/images/rss-metro.png" alt="" width="48" height="48"></a>
          <a href="http://feedburner.google.com/fb/a/mailverify?uri=MikeWardTechnologyBlog&amp;loc=en_US" title="Email Feed" onclick="javascript:_gaq.push(['_trackEvent','social-link','http://feedburner.google.com/fb/a/mailverify?uri=MikeWardTechnologyBlog&amp;loc=en_US']);"><img src="~/content/images/email-metro.png" alt="" width="48px" height="48px"></a>
          <a href="https://twitter.com/mikeward_aa" title="Follow &#64;mikeward_aa" onclick="javascript:_gaq.push(['_trackEvent','social-link','http://twitter.com']);"><img src="~/content/images/twitter.png" alt="" width="48" height="48"></a>
          <a href="http://stackoverflow.com/users/1032172/mike-ward" title="Follow on Stackoverflow.com" onclick="javascript:_gaq.push(['_trackEvent','social-link','http://stackoverflow.com']);"><img src="~/content/images/stackoverflow.png" alt="" width="48" height="48"></a>
        </div>
        <p>.Net, Technology, Life, Whatever</p>
        <div>
          @RenderSection("sidebar", false)
        </div>
      </div>
    </div>
    <footer>
      <div>
        <a href="/blog">Home</a> |
        <a href="/deskdrive">Desk Drive</a> |
        <a href="/tweetz">Tweetz</a> |
        <a href="/simplyweather">Simply Weather</a> |
        <a href="/vscoloroutput]">VSColorOutput</a> |
        <a href="/gadgets">Gadgets</a> |
        <a href="/freesnap">FreeSnap</a> |
        <a href="/calendar">Calendar</a> |
        <a href="/downloads">Downloads</a> |
        <a href="/about">About</a>
      </div>
      <p>Copyright &copy; 2014, Mike Ward</p>
    </footer>
    <script src="~/scripts.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
