<!DOCTYPE html>
<html lang="en">
<head>
  <title>@ViewBag.Title - Mike-Ward.Net</title>
  <link rel="shortcut icon" href="http://az667460.vo.msecnd.net/cdn/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feedproxy.google.com/MikeWardTechnologyBlog">
  <link rel="alternate" type="application/rdf+xml" title="RSS" href="http://feedproxy.google.com/MikeWardTechnologyBlog">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="index, follow">
  <meta name="rating" content="general">
  <meta name="description" content="Free programs and gadgets for Windows. Weekly links with a focus on Programming, Science and Technology. Tips on programming in .NET and JavaScript.">
  <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
  <div id="content">
    <h1 class="site-title">Mike-Ward.Net</h1>
    <div id="topbar" class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li><a href="/blog">Home</a></li>
        <li><a href="/deskdrive">Desk Drive</a></li>
        <li><a href="/tweetz">Tweetz</a></li>
        <li><a href="/simplyweather">Simply Weather</a></li>
        <li><a href="/vscoloroutput">VSColorOutput</a></li>
        <li><a href="/freesnap">FreeSnap</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div class="left">
      @RenderBody()
    </div>
    <div class="right">
      <div>
        <a href="http://feedproxy.google.com/MikeWardTechnologyBlog" title="RSS Feed"><img src="http://az667460.vo.msecnd.net/cdn/images/rss-metro.png" alt="" width="48" height="48"></a>
        <a href="http://feedburner.google.com/fb/a/mailverify?uri=MikeWardTechnologyBlog&amp;loc=en_US" title="Email Feed"><img src="http://az667460.vo.msecnd.net/cdn/images/email-metro.png" alt="" width="48" height="48"></a>
        <a href="https://twitter.com/mikeward_aa" title="Follow &#64;mikeward_aa"><img src="http://az667460.vo.msecnd.net/cdn/images/twitter.png" alt="" width="48" height="48"></a>
        <a href="http://stackoverflow.com/users/1032172/mike-ward" title="Follow on Stackoverflow.com"><img src="http://az667460.vo.msecnd.net/cdn/images/stackoverflow.png" alt="" width="48" height="48"></a>
        <a href="https://github.com/mike-ward" title="Follow on GitHub"><img src="http://az667460.vo.msecnd.net/cdn/images/github.png" alt="" width="48" height="48"></a>
      </div>
      <div>.Net, Technology, Life, Whatever</div>
      <div>
        @RenderSection("sidebar", false)
      </div>
      <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Sidebar -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-1981154560626519"
             data-ad-slot="3952097780"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
  <footer>
    <div>
      <a href="/blog">Home</a> |
      <a href="/deskdrive">Desk Drive</a> |
      <a href="/tweetz">Tweetz</a> |
      <a href="/simplyweather">Simply Weather</a> |
      <a href="/vscoloroutput]">VSColorOutput</a> |
      <a href="/freesnap">FreeSnap</a> |
      <a href="/calendar">Calendar</a> |
      <a href="/downloads">Downloads</a> |
      <a href="/about">About</a>
    </div>
    <p>Copyright &copy; 2014, Mike Ward</p>
  </footer>
  <script>
    function init(f) {
      if (window.addEventListener) window.addEventListener("load", f, false);
      else if (window.attachEvent) window.attachEvent("onload", f);
      else window.onload = f;
    }

    function analytics() {
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments); },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-39684572-1', 'auto');
      ga('send', 'pageview');
    }

    init(analytics);

    var disqus_identifier;
    var disqus_title;
    function load_disqus(id, title) {
      var disqus_shortname = 'mikeward';
      disqus_identifier = id;
      disqus_title = title;
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    }
  </script>
</body>
</html>
