@using Nancy.Markdown.Blog
@{
  Layout = "master.cshtml";
  ViewBag.Title = "Tweetz Desktop";
}

@Html.Markdown(@"
## Tweetz Desktop™

Tweetz Desktop is a Windows twitter client designed to sit comfortably in the corner of your desktop.
It can optionally display attached images inline (as shown below).
Tweetz displays your home, mentions and direct messages in a single view reducing the need to switch timelines.
Tweetz supports real time updates, posting with media and keyboard shortcuts. (Press ? to display)

![screen shot of tweetz desktop, dark and light themes](/cdn/images/tweetzdesktop.png)

Tweetz shown with dark and light themes

### Available Languages

- English
- Dutch - translation by [Joshua Jacobs](https://twitter.com/Racing_Reporter)
- French - translation by [Michael Lauzon](https://twitter.com/mlauzon)
- German - translation by [Tobias Fichtner](https://twitter.com/tobiasfichtner)
- Italian - translation by [Gian Luca Boccaletti](https://twitter.com/Bokka80)
- Japanese - translation by Akira Tsujimoto
- Portuguese - translation by [Alefe Souza](http://twitter.com/alefesouza5)
- Romanian - translation by [Dragoș Cristache](http://cristache.net/)
- Russian - translation by [Alexey Rudoy](https://twitter.com/Alex_Rudoy/)
- Spanish - translation by Rufo Mola
- Swedish - translation by [Vesal Kariminejad](https://twitter.com/TranceMastrOnyx)
- Ukrainian - translation by [Alexey Rudoy](https://twitter.com/Alex_Rudoy/)

It's easy to translate Tweetz Desktop. Find the file **tweetz.exe.locale** in the install folder.
Open it and follow the directions. Make sure to use a text editor like Notepad and not a word processor (like Word).
(Optional) If you would like ""Translation by"" credit, include your name and a web address.

**Requires Windows 7 or Windows 8 and .NET 4.5.1 (<http://smallestdotnet.com/>)**

**Note to Reviewers:** Please review Tweetz Desktop for what it is and not what it is not.
Tweetz Desktop is based on the idea that less is sometimes more.
It's not a kitchen sink of features nor will it ever be.

[Download Tweetz Desktop ](/downloads)
", (string)ViewBag.BaseCdnUri)

<button onclick="load_disqus('tweetzdesktop', 'Tweetz Desktop');" class="pure-button">Comments</button>
<div id="disqus_thread"></div>