<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.11.5295.12309" targetFramework="net452" />
  <package id="dotless" version="1.4.1.0" targetFramework="net452" />
  <package id="Jint" version="2.2.0" targetFramework="net452" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net452" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Markdown.Blog" version="0.4.1.0" targetFramework="net452" />
  <package id="Nancy.Pile" version="0.5.0.0" targetFramework="net452" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net40" />
  <package id="NSass.Core" version="0.0.3.0" targetFramework="net452" />
</packages>